<div class="info">
    <span class="name">Vimal Shetty</span><br>
    <span class="bio">I like building things. Currently writing angular and react apps and exploring the latest in tech.</span>
    <div class="connect">
        <a href="https://twitter.com/iamvimals" target="_blank" rel="noreferrer">
            <span>twitter</span>
            <i class="ri-twitter-line"></i>
        </a>
        <a href="https://linkedin.com/in/iamvimals" target="_blank" rel="noreferrer">
            <span>linkedin</span>
            <i class="ri-twitter-line"></i>
        </a>
        <a href="https://github.com/iamvimals" target="_blank" rel="noreferrer">
            <span>github</span>
            <i class="ri-twitter-line"></i>
        </a>
        <a href="https://instagram.com/iamvimals" target="_blank" rel="noreferrer">
            <span>instagram</span>
            <i class="ri-twitter-line"></i>
        </a>
    </div>
</div>
