<div class="info">
  <span class="name">Vimal Shetty</span><br />
  <span class="bio"
    >I like building things. Currently writing angular and react apps and
    exploring the latest in tech.</span
  >
  <div class="connect">
    <a
      href="https://linkedin.com/in/iamvimals"
      target="_blank"
      rel="noreferrer"
    >
      <span *ngIf="!isMobile">linkedin</span>
      <fa-icon *ngIf="isMobile" [icon]="linkedinIcon"></fa-icon>
    </a>

    <a href="https://github.com/iamvimals" target="_blank" rel="noreferrer">
      <span *ngIf="!isMobile">github</span>
      <fa-icon *ngIf="isMobile" [icon]="githubIcon"></fa-icon>
    </a>
    <a href="https://instagram.com/iamvimals" target="_blank" rel="noreferrer">
      <span *ngIf="!isMobile">instagram</span>
      <fa-icon *ngIf="isMobile" [icon]="instagramIcon"></fa-icon>
    </a>
  </div>
</div>
