.info {
    margin-top: 18%;
    margin-left: 20%;
    font-family: 'Poppins', sans-serif;
}

.name {
    color: white;
    font-size: 50px;
}

.bio {
    font-size: 20px;
    color: grey;
    word-wrap: break-word;
    word-break: break-all;
}

.connect {
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}
